.about
    padding 100px 0 

    @media (max-width 768px) 
        padding 50px 0

    &__title
        margin-bottom 30px

    &__block
        margin-bottom 100px

        &:last-child
            margin-bottom 0

        .btn
            margin 0 auto
            width 100%
            max-width 200px

        .employees__list
            margin-bottom 50px
