section.about
    .center 
        //- include ./../../modules/prepresentation/prepresentation
        .about__block        
            .about__title 
                h3 Отдел маркетинга
            .employees__list 
                each item in employees
                    .employees__list-item 
                        .employees__list-img
                            img(src= item.imgSrc, alt= item.imgAlt)

                        .employees__list-text 
                            h5!= item.title

                            each position in item.text 
                                p!=  position 

            +btn(showAll)   

        .about__block        
            .about__title 
                h3 Отдел маркетинга
            .employees__list 
                each item in employees
                    .employees__list-item 
                        .employees__list-img
                            img(src= item.imgSrc, alt= item.imgAlt)

                        .employees__list-text 
                            h5!= item.title

                            each position in item.text 
                                p!=  position 

            +btn(showAll)                 
