include vars-footer-social

.social
    p 
        | Присоединяйтесь к нам!
    ul.social__list 
        each item in social
            li.social__list-item 
                a.social__list-link(href="##")
                    != item.icon
                