.social
    p 
        margin-bottom 20px

    &__list 
        display inline-flex
        align-items center

        &-item
            margin-right 20px

            &:hover
                .social__list-link
                    background $white

                    &:before
                        transform scale(1)
                        opacity 1
                    


            &:last-child
                margin-right 0

        &-link
            display flex
            justify-content center
            align-items center
            width 50px
            height 50px
            position relative
            background rgba($blue, .2) 
            border-radius 50% 
            transition background 200ms ease
            box-sizing border-box

            &:before
                content ''
                position absolute
                top -4px
                left -4px
                padding 4px
                width 100%
                height 100%
                transform scale(0.0)
                border-radius 50%
                box-shadow 0 0 0 2px $white
                opacity 0
                transition opacity 200ms ease transform 200ms ease
                box-sizing content-box

            path
                display block
                fill $blue

