section.home-slider
    .center 
        .swiper.home-slider__list.js-home-slider
            .swiper-wrapper
                each item in homeSlider
                    .swiper-slide.home-slider__list-item 
                        picture
                            source(srcset= item.webp, type="image/webp")
                            img(src= item.src, alt= item.imgAlt)

                        div(class= item.className) 
                            .home-slider__title!= item.title 
                            .home-slider__desc!= item.desc
                            +btn(item.btn)

            .swiper-button.swiper-button-next
            .swiper-button.swiper-button-prev
            .swiper-pagination

