.home-slider
    &__list
        @media(max-width 768px)
            height 308px

        &-item 
            position relative

            img 
                width 100%

                @media(max-width 768px)
                    height 100% 
                    object-fit cover

    &__text
        padding 40px
        position absolute
        top 50%
        left 80px
        max-width 50%
        transform translateY(-50%)
        color $white
        background-color rgba($dark, 0.4)
        backdrop-filter  blur(5px)
        box-sizing border-box

        @media(max-width 1024px)
            padding 20px

        @media(max-width 560px)
            width calc(100% - 100px)
            max-width inherit
            left 50px


        &--black
            color $dark
            background-color rgba($white, 0.4)

        .btn 
            text-align center
            line-height 32px

    &__title
        margin-bottom 30px
        font-size 30px
        line-height 36px
        font-weight 700

        @media(max-width 1024px)
            margin-bottom 10px
            font-size 24px
            line-height 30px

        @media(max-width 560px)
            font-size 18px
            line-height 24px

        span 
            display block

    &__desc
        margin-bottom 30px
        font-size 18px
        line-height 22px 

        @media(max-width 1024px)
            margin-bottom 10px      

        @media(max-width 560px)
            font-size 14px
            line-height 18px

        span 
            display block

    .swiper-pagination-bullet-active
        background $blue

    .swiper-button
        &:after
            color $blue

            @media(max-width 560px)
                font-size 30px


    .center
        @media(max-width 768px)
            padding 0
