.event 
    padding 50px 0

    &__content
        p 
            margin-bottom 20px

        a 
            &:hover
                text-decoration underline

        h2
        h3
        h4
            margin-bottom 20px

        ul 
            padding-left 10px
            list-style disc  
            list-style-position inside
            box-sizing border-box

        ol
            padding-left 10px
            list-style decimal  
            list-style-position inside
            box-sizing border-box

        li 
            margin-bottom 10px

        strong
            font-weight 700

        em 
            font-style italic