-
    let  eventSingl =  {
            dateEvents: '<span>23 декабря</span> <span>10:00</span>',
            descSubtitle: 'Выставка',
            descTitle: '«MVC: Зерно-Комбикорма-Ветеринария 2021',
            textDesc: 'Выставка «MVC: Зерно-Комбикорма-Ветеринария 2021',
            link: 'event-singl.html',
            text: [
                'Длительность: <span>4 дня</span>',
                'Место: <span>Крокус Экспо</span>',
                'Участники: <span>17</span>',
            ] 
        }