html
    font-size 62.5%

html,
body
    height 100%

body
    min-width 320px
    font-family  'Montserrat', sans-serif 
    line-height 24px
    font-size 16px
    font-weight 400
    color $dark 
header,
aside,
section,
footer
    display block

/*placeholder styles*/
::-webkit-input-placeholder
    color $blue-light

::-moz-placeholder
    color $blue-light

:-moz-placeholder
    color $blue-light

:-ms-input-placeholder
    color $blue-light

:focus::-webkit-input-placeholder
    color transparent

:focus::-moz-placeholder
    color transparent

:focus:-moz-placeholder
    color transparent

:focus:-ms-input-placeholder
    color transparent


button 
    border 0
    background none

input
button 
textarea
    font-family  'Montserrat', sans-serif  
    line-height 24px
    font-size 16px
    font-weight 400
    color $blue     

a 
    color $blue
    text-decoration none
    transition color 300ms ease
    
    // &:hover
    //     color $blue-light

    .btn--blue
        text-align center
        line-height 32px

img
    display block
    user-select none

h1
    margin-bottom 20px
    line-height 36px
    font-size 32px
    font-weight 700
    color $blue       

h2
    line-height 36px
    font-size 28px
    font-weight 700
    color $blue       

h3
h4    
    line-height 36px
    font-size 24px
    font-weight 700
    color $blue     

.wrapper
    width 100%
    min-height 100vh
    display flex
    flex-direction column
    justify-content space-between
    overflow hidden

.center
    margin 0 auto
    padding 0 15px
    width 100%
    max-width 1200px
    box-sizing border-box

main 
    margin-bottom auto
    padding-top 76px

    @media(max-width 768px)
        padding-top 70px

.overlay
    position fixed
    top 0
    left 0
    bottom 0
    width 100%
    background-color rgba($dark, 0.3)
    opacity 0
    visibility hidden
    transition opacity 250ms

    &.js-show
        opacity 1
        visibility visible 


.container
    height 95vh
    width 95%