section.documents
    .center 
        .documents__title 
            h3 Документы

        .events__list.documents-block
            each item in events
                .events__list-item 
                    .events__list-desc  
                        h4
                            a(href= item.link)!= item.descTitle  

                        if(item.bootomInfo)
                            .events__list-date
                                span!= item.bootomInfo.dateEvents
                                if(item.bootomInfo.autor)
                                    span!= item.bootomInfo.autor 
                                if(item.bootomInfo.cat)
                                    span!= item.bootomInfo.cat

                    .events__list-info
                        a.btn.btn--blue(href= item.linkDownload) подробнее