.documents
    padding 50px 0

    &__title 
        margin-bottom 30px

    &-block
        .btn
            text-align center
            line-height 32px
        a 
            display block 

        .events__list-date 
            width 100%

            @media(max-width 768px)
                margin-bottom 0

            span 
                display inline

        .events__list-info
            width 150px

        .events__list-desc 
            width calc(100% - 200px)

            @media(max-width 768px)
                width 100% 

        .events__list-item
            @media(max-width 560px)
                flex-direction column 
            
