include vars-pagination

ul.pagination
    li.pagination__item.prev
        a(href="##")  
    
    each item in pagination
        if(item.active)
            li.pagination__item.active
                span= item.title
        else
            li.pagination__item
                a(href= item.link)= item.title
    li.pagination__item.next
        a(href="##")  