.pagination
    margin 20px 0
    display flex
    justify-content center

    &__item 
        margin-left 7px
        width 34px
        height 35px
        border 1px solid $alto

        &:hover
            font-weight 600

        &.active
            display block
            line-height 35px
            font-weight 600
            text-align center

        a 
            display block 
            line-height 35px
            text-align center

        &:first-child
            margin-left 0

        &.prev,
        &.next
            position relative

            a 
                height 100%

            &:before
                content ''
                position absolute
                top 50%
                left 50%
                width 10px
                height 10px
                border-right  1px solid $dark
                border-bottom  1px solid $dark 
                cursor pointer

        &.next
            &:before
                transform translate(-50%, -50%) rotate(-45deg)
        &.prev
            &:before
                transform translate(-50%, -50%) rotate(135deg)
