.btn 
    padding 3px 10px 
    width 130px
    height 32px
    display block
    flex-shrink 0
    font-size 13px
    line-height 18px
    font-weight 500
    text-transform uppercase
    color $white
    transition background 250ms
    cursor pointer

    &--blue
        background-color $blue

        &:hover
            background-color $blue-light
    