mixin btn(attr)
    if(attr.type == 'link')
        a(
            href= attr.btnUrl,
            id= attr.id ? attr.id : false,
            class= attr.className ? attr.className : ''
        )= attr.title
    else
        button(
            id= attr.id ? attr.id : false,
            class= attr.className ? attr.className : '',
            type= attr.type ? attr.type : false,
            name= attr.name ? attr.name : false,
            desabled= attr.desabled ? '' : false,
        )= attr.title