- 
    let events = [
        { 
            descTitle: '«MVC: Зерно-Комбикорма-Ветеринария 2021', 
            link: 'document.html',
            bootomInfo: {
                dateEvents: '05.2021', 
                autor: '/ <span>Куликов С.П.</span>',
                cat: '/ <span>Аграрная наука</span>'
            }, 
            linkDownload: 'document.html', 
        },
        {
            descTitle: '«MVC: Зерно-Комбикорма-Ветеринария 2021', 
            link: 'document.html', 
            bootomInfo: {
                dateEvents: '05.2021',
                cat: '/ <span>Аграрная наука</span>'
            }, 
            linkDownload: 'document.html', 
        }
    ]
