.prepresentation
    margin-bottom 100px

    &__list 
        display flex
        justify-content space-between
        align-items center

        @media(max-width 900px)
            flex-direction column

    &__img 
        width 100%
        max-width 410px
        overflow hidden

        @media(max-width 900px)
            margin-bottom 30px
            order 1
            width 100%

        img 
            width 100%

    &__text 
        width calc(100% - 460px)

        @media(max-width 900px)
            order 2
            width 100%

    p 
        margin-bottom 20px

    .btn
        text-align center
        line-height 32px