include vars-prepresentation

.prepresentation
    .prepresentation__list 
        .prepresentation__text 
            p Уважаемые коллеги!
            p!= '6 ноября 2021 года наша компания отмечает свой юбилейный день рождения. Нам исполняется 30 лет! Каждое подразделение ГК ВИК может подготовить креативное видео-подразделение для всех сотрудников ГК ВИК . Готовые работы необходимо направить по почте <a href="mailto: yurkina@vicgroup.ru">  yurkina@vicgroup.ru </a> до 30 сентября Все ролики будут собраны в один фильм и показаны 6 ноября на торжественном мероприятие в онлайн формате.'

            a.btn.btn--blue(href= prepresentation.link) подробнее
        
        .prepresentation__img 
            img(src= prepresentation.imgUrl, alt= prepresentation.imgAlt)