include vars-main-content

include ./../../modules/home-slider/home-slider
include ./../../modules/event-calendar/event-calendar
include ./../../modules/docs/docs
include ./../../modules/employees/employees