- 
    let homeSlider = [
        {
            title: 'ШКОЛА ВИК <span>15-20 января 2021</span> ',
            desc: 'Дополнительная информация <span>или призыв к действию</span> ',
            className: 'home-slider__text home-slider__text--black', 
            src: './img/slide-2.jpg',
            webp: './img/slide-2.webp',
            imgAlt:  'ШКОЛА ВИК',
            btn: {
                type: "link",
                title: "подробнее",
                className: "btn btn--blue",
                btnUrl: '##',
            }             
        },
        {
            title: 'ШКОЛА ВИК <span>15-20 января 2021</span> ',
            desc: 'Дополнительная информация <span>или призыв к действию</span> ',
            className: 'home-slider__text', 
            src: './img/slide-1.jpg',
            webp: './img/slide-1.webp',
            imgAlt:  'ШКОЛА ВИК',
            btn: {
                type: "link",
                title: "подробнее",
                className: "btn btn--blue",
                btnUrl: '##',
            }    
        }        
    ]


-
    let employees = [
        {
            imgSrc: 'img/photo-3.jpeg',
            imgAlt: 'photo',
            title: ' Фамилия Имя <span>Отчество</span>',
            text: [
                '<strong>Должность</strong> <span>менеджер</span> по исследованию рынка',
                '<strong>Отдел</strong> <span>маркетинг</span>',
            ]
        },
        {
            imgSrc: 'img/photo-3.jpeg',
            imgAlt: 'photo',
            title: ' Фамилия Имя <span>Отчество</span>',
            text: [
                '<strong>Должность</strong>  ',
                '<strong>Отдел</strong>  ',
            ]
        },
        {
            imgSrc: 'img/photo-3.jpeg',
            imgAlt: 'photo',
            title: ' Фамилия Имя <span>Отчество</span>',
            text: [
                '<strong>Должность</strong>  ',
                '<strong>Отдел</strong>  ',
            ]
        },
        {
            imgSrc: 'img/photo-3.jpeg',
            imgAlt: 'photo',
            title: ' Фамилия Имя <span>Отчество</span>',
            text: [
                '<strong>Должность</strong>  ',
                '<strong>Отдел</strong>  ',
            ]
        }
    ]

- 
    let showAll = {
        type: "button",
        title: "показать всех",
        className: "btn btn--blue", 
    }