.employees
    padding 50px 0

    &__list 
        margin-bottom 30px
        display grid
        grid-template-columns repeat(4, 1fr)
        grid-gap 30px 
        align-content  center

        @media(max-width 1024px)
            grid-template-columns repeat(2, 1fr)

        @media(max-width 560px)
            grid-template-columns 1fr

        &-item 
            margin 0 auto
            width 100%
            max-width 370px
            box-shadow 0 0 20px 0 rgba($blue, 0.8)

        &-img 
            width 100%
            max-width 370px
            overflow hidden

            img 
                width 100%

        &-text 
            padding 20px
            box-sizing border-box

            h5
                margin-bottom 20px
                font-weight 700
                text-align center
                    
                span 
                    display block

            strong
                font-weight 700

            p   
                margin-bottom 5px
                line-height 18px

                span 
                    font-size 14px
        
    &__title
        margin-bottom 30px
        text-align center

    .btn
        margin 0 auto
        width  175px 