section.employees
    .center
        .employees__title
            h3 Новые сотрудники

        .employees__list 
            each item in employees
                .employees__list-item 
                    .employees__list-img
                        img(src= item.imgSrc, alt= item.imgAlt)

                    .employees__list-text 
                        h5!= item.title

                        each position in item.text 
                            p!=  position 

        +btn(showAll)