.docs
    padding 50px 0

    &__title
        margin-bottom 30px
        text-align center

    &__list 
        display grid
        grid-template-columns repeat(3, 1fr)
        grid-gap 30px

        @media(max-width 1024px)
            grid-template-columns repeat(2, 1fr)

        @media(max-width 560px)
            grid-template-columns 1fr


    &__item
        padding 40px 30px
        background-color $catskill-white
        position relative
        box-sizing border-box

        @media(max-width 768px)
            padding  40px 20px

        &:before
            content ''
            position absolute
            top 0
            left 0
            bottom 0
            width 100% 
            background-color rgba($venice-blue, 0.6)
            opacity 0
            transition opacity 250ms ease

        &:hover
            .docs__item-text
                opacity 1

            &:before
                opacity 1


        &-icon
            margin 0 auto 20px
            width 100%
            max-width 100px

            @media(max-width 768px)
                max-width 60px

            img
                width 100%

        p 
            text-align center

        .btn
            text-align center
            line-height 32px

        &-text
            position absolute
            top 50%
            left 0
            padding 20px
            transform translateY(-50%)
            opacity 0
            transition opacity 250ms ease
            box-sizing border-box

            p 
                margin-bottom 20px
                color $white
                text-align left
                display -webkit-box
                -webkit-line-clamp 3
                -webkit-box-orient vertical
                overflow hidden