include vars-docs

section.docs 
    .center 
        .docs__title
            h3 Документы

        .docs__list 
            each item in docs
                .docs__item 
                    .docs__item-icon
                        img(src= item.icon, alt= item.alt)
                    p= item.catName

                    .docs__item-text
                        p= item.text
                        +btn(item.btn)
            
            //- .docs__item 
            //-     .docs__item-icon
            //-         img(src="img/svg/docs-3.svg", alt="")
            //-     p  Локальные нормативные акты 

            //- .docs__item 
            //-     .docs__item-icon
            //-         img(src="img/svg/docs-6.svg", alt="")
            //-     p  Шаблоны документов

            
            //- .docs__item 
            //-     .docs__item-icon
            //-         img(src="img/svg/docs-2.svg", alt="")
            //-     p  Обучение

            
            
            //- .docs__item 
            //-     .docs__item-icon
            //-         img(src="img/svg/docs-2.svg", alt="")
            //-     p  Организационно-распределительные документы


            //- .docs__item 
            //-     .docs__item-icon
            //-         img(src="img/svg/docs-1.svg", alt="")
            //-     p  Организационно-распределительные документы
                    


