- 
    let docs = [
        {
            catName: 'Организационно-распределительные документы',
            icon: 'img/svg/docs-1.svg',
            text: 'Организационно-распределительные документы Организационно-распределительные документы',
            alt: 'распределительные документы',
            btn: {
                type: "link",
                title: "подробнее",
                className: "btn btn--blue",
                btnUrl: '##',
            }  
        },
        {
            catName: 'Локальные нормативные акты ',
            icon: 'img/svg/docs-3.svg',
            text: 'нормативные акты',
            alt: 'нормативные акты',
            btn: {
                type: "link",
                title: "подробнее",
                className: "btn btn--blue",
                btnUrl: '##',
            }  
        },
        {
            catName: 'Шаблоны документов ',
            icon: 'img/svg/docs-6.svg',
            text: 'Шаблоны',
            alt: 'Шаблоны',
            btn: {
                type: "link",
                title: "подробнее",
                className: "btn btn--blue",
                btnUrl: '##',
            }  
        },
        {
            catName: 'Обучение ',
            icon: 'img/svg/docs-2.svg',
            text: 'Обучение',
            alt: 'Обучение',
            btn: {
                type: "link",
                title: "подробнее",
                className: "btn btn--blue",
                btnUrl: '##',
            }  
        },
        {
            catName: 'Организационно-распределительные документы ',
            icon: 'img/svg/docs-2.svg',
            text: 'документы',
            alt: 'документы',
            btn: {
                type: "link",
                title: "подробнее",
                className: "btn btn--blue",
                btnUrl: '##',
            }  
        },
        {
            catName: 'Организационно-распределительные документы ',
            icon: 'img/svg/docs-1.svg',
            text: 'документы',
            alt: 'документы',
            btn: {
                type: "link",
                title: "подробнее",
                className: "btn btn--blue",
                btnUrl: '##',
            }  
        }
    ]