.header
    padding 10px 0
    position fixed
    top 0
    left 0
    width 100%
    background-color $white
    z-index 5
    box-shadow 0 1px 10px 0 rgba($dark, 0.4)

    .center
        display flex
        justify-content space-between
        align-items center

    &__box
        display inline-flex
        align-items center

    .logo
        margin-right 45px

        &__link
            width 56px
            height 56px
            display block
            text-decoration none
            color $dark 

            @media(max-width 768px) 
                width 50px
                height 50px

            img
                width 100%