header.header
    .center 
        .header__box
            .logo 
                a.logo__link(href="./")
                    img(src="./img/svg/logo.svg", alt="title")

            include ./../main-menu/main-menu
        
        include ./../../modules/login/login

    include ./../../modules/btn-mob/btn-mob

