include vars-events

section.events
    .center 
        .events__title 
            h3 Лента событий
        include ./../../modules/fiters/fiters
        .events__list
            each item in events
                .events__list-item 
                    .events__list-date!= item.dateEvents

                    .events__list-desc 
                        .events__list-subtitle= item.descSubtitle
                        h4
                            a(href= item.link)!= item.descTitle
                        p!= item.textDesc

                    .events__list-info
                        each infoItem in item.text
                            p!= infoItem