.events
    padding 50px 0

    &__title 
        margin-bottom 30px

    &__list
        &-date
            width 100px
            flex-shrink 0
            font-size 14px
            line-height 18px

            @media(max-width 768px)
                margin-bottom 20px
                width 100%

            span 
                margin-bottom 10px
                display block
                color $grey

        &-item 
            margin-bottom 30px
            padding 20px
            display flex
            justify-content space-between
            align-items center
            width 100%
            background-color $white
            box-shadow 0 0 20px 0 rgba($blue, 0.2)
            box-sizing border-box 

            @media(max-width 768px)
                flex-direction column 

        &-info
            width 200px
            flex-shrink 0

            @media(max-width 768px)
                width 100%

            p 
                margin-bottom 10px
                font-size 14px
                line-height 18px
                font-weight 700

                span 
                    font-weight 400

        &-desc
            width calc(100% - 340px)

            @media(max-width 768px)
                margin-bottom 30px
                width 100%

            h4 
                margin-bottom 10px
                font-size 20px
                line-height 28px
                a
                    &:hover
                        color $blue-light
            p 
                font-size 14px
                line-height 18px


        &-subtitle
            margin-bottom 10px
            font-size 14px
            line-height 18px
            text-transform uppercase

