- 
    let events = [
        {
            dateEvents: '<span>23 декабря</span> <span>10:00</span>',
            descSubtitle: 'Выставка',
            descTitle: '«MVC: Зерно-Комбикорма-Ветеринария 2021',
            textDesc: 'Выставка «MVC: Зерно-Комбикорма-Ветеринария 2021',
            link: 'event-singl.html',
            text: [
                'Длительность: <span>4 дня</span>',
                'Место: <span>Крокус Экспо</span>',
                'Участники: <span>17</span>',
            ] 
        },
        {
            dateEvents: '<span>23 февраля</span> <span>10:00</span>',
            descSubtitle: 'Спорт',
            descTitle: 'Матч по волейболу  команд ВЕТПРИБОР и Логистика МСК',
            textDesc: 'хоть и набрал больше всех очков (шесть), не смог забить все, что ему прилетало.',
            link: 'event-singl.html',
            text: [
                'Длительность: <span>2 ч</span>',
                'Место: <span>СК “Луч”</span>',
                'Участники: <span>25</span>',
            ]
        }
    ]

