
form.js-event-form(action="/events/")
    .filters__wrap
        input#data2(type="hidden", name="date2", value="")
        input#data1(type="hidden", name="date1", value="")
        .filters__date
            .filters__date-title Выбор диапазона дат
            input#calendar.form-control(type="text")

        .filters__select 
            label  Тип мероприятия
            select#event-type.js-example-basic-single
                option(value="all") Показать все
                option(value="ex") ВЫСТАВКА
                option(value="sp") СПОРТ