.filters
    &__wrap
        margin-bottom 30px
        display flex
        align-items center

        @media (max-width 500px) 
            flex-direction column

        input
            line-height 26px
            text-align center
            border 1px solid $dark

    &__date
        margin-right 20px
        @media (max-width 500px) 
            margin 0 0 20px


    &__select
        label
            display block

        .select2-container
            width 214px !important

        .select2-container--default 
            .select2-selection--single
                border 1px solid $dark
                border-radius 0

        .select2-container--default 
            .select2-selection--single 
                .select2-selection__rendered
                    color $dark

                    

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable
    background-color $blue  