footer.footer 
    .center 
        .column
            .logo 
                a.logo__link(href="./") 
                    img(src="./img/svg/logo.svg", alt="title") 

                    span                         
                        | здоровье людей и животных - наша профессия 

        .column
            include ./../../modules/footer-social/footer-social

        p.copy 
            | &copy; 1990–2021 ООО «Группа компаний ВИК»



.overlay
