.footer
    padding 25px 0
    background-color $grey-light
    box-sizing border-box

    .center
        display flex
        justify-content space-between
        align-items center 
        flex-wrap wrap

        @media(max-width 570px) 
            flex-direction column
        

    p 
        font-size 16px
        line-height 20px
        font-weight 500
        color $blue

        &.copy 
            margin-top 30px
            font-size 12px
            line-height 14px
            font-weight 400
            width 100%

            @media(max-width 570px)  
                margin-top 0
                text-align center

    .logo        
        width 100%
        max-width 275px

        &__link
            display flex
            align-items center

            &:hover
                color $blue

            img 
                margin-right 10px
                width  80px 
                height  80px 

            span 
                display block
                font-size 16px
                line-height 24px
                font-weight 600
                text-transform uppercase
    .column
        @media(max-width 570px)  
            margin-bottom 30px
            display inline-flex
