include vars-main-menu

nav.nav 
    ul.nav__list 
        each item in menu
            if(item.subMenu)
                li.nav__list-item
                    span.nav__arrow
                    a.nav__list-link(href= item.link)= item.title
                    ul.dropdown-menu
                        li.nav__list-back Back
                        each sub in item.subMenu
                            if(sub.subSubMenu)
                                li.dropdown-menu__item
                                    span.nav__arrow
                                    a.dropdown-menu__link(href= sub.link)= sub.title
                                    ul.dropdown-submenu
                                        li.nav__list-back Back
                                        each subSub in sub.subSubMenu
                                            li.dropdown-submenu__item
                                                a.dropdown-submenu__link(href= subSub.link)= subSub.title
                            else 
                                li.dropdown-menu__item
                                    a.dropdown-menu__link(href= sub.link)= sub.title

            else 
                li.nav__list-item
                    a.nav__list-link(href= item.link)= item.title 
                    
    include ./../../modules/search-header/search-header