.nav
    padding-right 29px
    position relative
    background-color $white
    box-sizing border-box
    
    @media(max-width 768px) 
        padding 0
        position fixed
        top 70px
        right -110%
        width 100%
        max-width 375px
        height calc(100% - 70px)
        box-shadow 1px 13px 10px 0 rgba($dark, 0.4) 
        transition right 500ms

    &.js-show 
        
        @media(max-width 768px) 
            right 0

    &__list
        display flex
        align-items center
        box-sizing border-box

        @media(max-width 768px) 
            padding 40px
            flex-direction column
            align-items flex-start
            background-color $white 

        &-link
            padding 3px 5px
            font-size 13px
            line-height 18px
            font-weight 500
            text-transform uppercase
            position relative
            display block
            text-decoration none  
            box-sizing border-box

            @media(max-width 768px) 
                display inline-block


            &:hover
                color $blue

            &:before
                content ''
                position absolute
                bottom 0
                left 0
                width 0
                height 1px
                background $blue
                transition width 300ms ease

        &-back
            padding 10px 20px
            position relative
            display none
            text-align center
            color $blue
            cursor pointer
            border-top 1px solid $blue-light
            border-bottom 1px solid $blue-light
            transition all .25s ease-in
            box-sizing border-box

            &:before
                content ''
                position absolute
                top 50%
                left 20px
                width 10px
                height 10px
                border-right 1px solid $blue
                border-bottom 1px solid $blue
                transform translateY(-50%) rotate(135deg) 


            @media(max-width 768px) 
                margin-bottom 15px
                display block

        &-item 
            margin-right 10px
            position relative
            box-sizing border-box 

            .nav__arrow
                display none

            @media(max-width 768px)  
                margin 0 0 15px 0
                width 100%
                .nav__arrow
                    display block                
            
            &:hover
                .nav__list-link
                    &:before
                        width 100%

                .dropdown-menu
                    opacity 1
                    transform translateY(0)
                    visibility visible
    &__arrow
        position absolute
        top 50%
        right 5px
        width 10px
        height 10px
        border-right 1px solid $blue
        border-bottom 1px solid $blue
        transform translateY(-50%) rotate(-45deg)
        cursor pointer

        @media(max-width 768px)  
            top 0
            right 0
            width 20px
            height 24px
            border 0
            transform inherit

            &:before
                content ''
                position absolute
                top 50%
                right 5px
                width 10px
                height 10px
                border-right 1px solid $blue
                border-bottom 1px solid $blue
                transform translateY(-50%) rotate(-45deg)



.dropdown-menu
    padding 20px 0
    position absolute
    top  calc(100% + 26px)
    left 0
    width 200px 
    background-color $white
    box-shadow 0 10px 20px 0 rgba($blue, 0.2)
    opacity 0
    visibility hidden
    transform translateY(30px)
    transition transform 250ms, opacity 250ms
    box-sizing border-box

    @media(max-width 768px) 
        padding 40px
        position fixed
        left auto
        right -100%
        top 70px
        opacity 1
        visibility visible
        transform translateY(0)
        width 100%
        max-width 375px
        height 100%
        z-index 1

    
    &.js-show 
        
        @media(max-width 768px) 
            right 0
            transition right 250ms

    &:before
        content ''
        position absolute
        top -30px
        left 0
        width 100%
        height 31px
        
    &__item
        position relative 
        .nav__arrow
            display block


        @media(max-width 768px) 
            margin 0 0 15px 0

            &:hover
                box-shadow none
                .dropdown-menu__link 
                    &:before 
                        width 100%  


        &:hover
            box-shadow 0 0 10px 0 rgba($blue, 0.2) 

            .dropdown-submenu
                opacity 1 
                transform translateX(0)

    &__link
        padding 10px 20px
        display block
        font-size 14px
        line-height 20px
        box-sizing border-box

        @media(max-width 768px) 
            padding 3px 5px
            position relative
            display inline-block

 
            &:before
                content ''
                position absolute
                bottom 0
                left 0
                width 0
                height 1px
                background $blue
                transition width 300ms ease           


.dropdown-submenu
    padding 20px 0
    position absolute
    top -20px
    left 100%
    opacity 0
    width 200px 
    min-height 100%
    background-color $grey-light
    transform translateX(30px)
    transition transform 250ms, opacity 250ms
    box-sizing border-box

    @media(max-width 768px)         
        position fixed
        left auto
        right -100%
        top 0
        opacity 1 
        transform translateX(0)        
        width 100%
        max-width 375px
        height 100%
        z-index 1
        transition right 250ms 
    
    &.js-show 
        
        @media(max-width 768px) 
            right 0    

    &__item
        position relative

        &:hover
            box-shadow 0 0 10px 0 rgba($blue, 0.2)

    &__link
        padding 10px 20px
        display block
        font-size 14px
        line-height 20px
        box-sizing border-box
