-
    let menu = [
        {
            title: "Лента событий",
            link: "events.html",
            subMenu: [
                {
                    title: "Событие 2 Событие  ",
                    link: "##",
                    subSubMenu: [
                        {
                            title: "Событие 3",
                            link: "##",
                        },
                        {
                            title: "Событие 3-2",
                            link: "##",
                        },
                        {
                            title: "Событие 3-3",
                            link: "##",
                        },
                    ]
                },
                {
                    title: "Событие 2-2",
                    link: "##",
                },
                {
                    title: "Событие 2-3",
                    link: "##",
                }
            ]
        },
        {title: "Структура компании", link: "about.html"},
        {title: "Документы", link: "documents.html"},
    ]