extends ./../../includes/templates/landing/landing
block config
    - let params = meta.event


append fonts

prepend styles

append styles

append headScripts


block content
    include ./../../includes/mixins/mix-btn/mix-btn
    
    include ./../../includes/components/header/header
    main
        include ./../../includes/components/about-content/about-content
    include ./../../includes/components/footer/footer


append scripts