-
    let employees = [
        {
            imgSrc: 'img/photo-3.jpeg',
            imgAlt: 'photo',
            title: ' Фамилия Имя <span>Отчество</span>',
            text: [
                '<strong>Должность</strong> <span>менеджер</span> по исследованию рынка',
                '<strong>Отдел</strong> <span>маркетинг</span>',
            ]
        },
        {
            imgSrc: 'img/photo-3.jpeg',
            imgAlt: 'photo',
            title: ' Фамилия Имя <span>Отчество</span>',
            text: [
                '<strong>Должность</strong>  ',
                '<strong>Отдел</strong>  ',
            ]
        },
        {
            imgSrc: 'img/photo-3.jpeg',
            imgAlt: 'photo',
            title: ' Фамилия Имя <span>Отчество</span>',
            text: [
                '<strong>Должность</strong>  ',
                '<strong>Отдел</strong>  ',
            ]
        },
        {
            imgSrc: 'img/photo-3.jpeg',
            imgAlt: 'photo',
            title: ' Фамилия Имя <span>Отчество</span>',
            text: [
                '<strong>Должность</strong>  ',
                '<strong>Отдел</strong>  ',
            ]
        },
        {
            imgSrc: 'img/photo-3.jpeg',
            imgAlt: 'photo',
            title: ' Фамилия Имя <span>Отчество</span>',
            text: [
                '<strong>Должность</strong>  ',
                '<strong>Отдел</strong>  ',
            ]
        },
        {
            imgSrc: 'img/photo-3.jpeg',
            imgAlt: 'photo',
            title: ' Фамилия Имя <span>Отчество</span>',
            text: [
                '<strong>Должность</strong>  ',
                '<strong>Отдел</strong>  ',
            ]
        },
        {
            imgSrc: 'img/photo-3.jpeg',
            imgAlt: 'photo',
            title: ' Фамилия Имя <span>Отчество</span>',
            text: [
                '<strong>Должность</strong>  ',
                '<strong>Отдел</strong>  ',
            ]
        },
        {
            imgSrc: 'img/photo-3.jpeg',
            imgAlt: 'photo',
            title: ' Фамилия Имя <span>Отчество</span>',
            text: [
                '<strong>Должность</strong>  ',
                '<strong>Отдел</strong>  ',
            ]
        }
    ]

- 
    let showAll = {
        type: "button",
        title: "показать всех",
        className: "btn btn--blue", 
    }