section.document__singl
    .center 
        .document__singl-title 
            h3 Документ

        #container
            //- img(src="img/CondoLiving.pdf", alt="") 
        //- .document__singl-book 
        //-     .sample-container.flip-book-container(src="img/CondoLiving.pdf") 
