.btn__mob
    width 24px
    height 20px
    position absolute
    top 50%
    right 15px
    border-top 2px solid $blue
    border-bottom 2px solid $blue 
    display none
    transform translateY(-50%)
    cursor pointer
    transition all 250ms
    box-sizing border-box

    @media(max-width 768px)  
        display block

    &:before,
    &:after
        content ''
        width 100%
        height 2px
        position absolute
        left 0
        top 50%
        margin-top -1px
        background-color $blue
        transition all 250ms

    &:hover 
        border-top-color $blue-light
        border-bottom-color $blue-light 

        &:before,
        &:after
            background-color $blue-light

    &.js-show
        border-top-color transparent
        border-bottom-color transparent

        &:hover 
            border-top-color none
            border-bottom-color none


        &:before
            transform rotate(45deg)

        &:after
            transform rotate(-45deg)