.event-calendar
    padding 50px 0

    &__title 
        margin-bottom 30px
        text-align center

    &__wrap
        display flex
        justify-content space-between

        @media (max-width 768px) 
            flex-direction column

        .eventCalendar-slider,
        .eventCalendar-monthWrap
            width 48% !important 

            @media (max-width 768px) 
                width 100% !important 

        .eventCalendar-list-wrap
            width 48% !important
            height 270px
            overflow auto

            @media (max-width 768px)
                width 100% !important 

        .eventCalendar-showAsWeek 
            .eventCalendar-day 
                a
                    line-height 35px
            
        .eventCalendar-next
            right calc(50% + 25px)

        .eventCalendar-currentTitle
            background-color $blue
            outline $blue

        .eventCalendar-list 
            li 
                a.eventCalendar-eventTitle
                    padding-top 5px
                    color $blue

        .eventCalendar-subtitle
            padding-bottom 20px

        .eventCalendar-list
            em 
                font-size 14px

        .eventCalendar-daysList 
            li.eventCalendar-dayWithEvents 
                a
                    background-color $blue
        .eventCalendar-daysList.eventCalendar-showAsWeek
            margin 10px 0px
