include vars-search-header

.search-header
    input.search-header__field(type="search" name="search")
    +btn(searchBtn)
    .search-header__click
        img(src="./img/svg/search-blue.svg", alt="search")