.search-header
    width 24px
    height 24px
    display flex
    align-items center
    justify-content flex-end
    position absolute
    top 0
    right 0
    overflow hidden
    transition all 300ms ease
    box-sizing border-box
    
    @media(max-width 768px)  
        margin-left 40px
        position relative
        top auto
        right auto
        width calc(100% - 80px)
        box-shadow 0 0 5px 0 rgba($blue, 0.2)

    &.js-show
        width 100% 
        box-shadow 0 0 5px 0 rgba($blue, 0.2)

    &__field
        padding 0 10px
        width calc(100% - 26px)
        height 100%
        border 0
        box-sizing border-box

    &__btn
    &__click
        width 24px
        height 24px 
        cursor pointer 

    &__btn
        padding 0
        flex-shrink 0
        background  $white url(../img/svg/search-blue.svg) no-repeat center 
        background-size 14px
        opacity 0

        @media(max-width 768px) 
            opacity 1

    &__click
        position absolute
        top 0
        right 0
        display flex
        justify-content center
        align-items center

        @media(max-width 768px) 
            display none

        img
            width 14px
            height 14px
            transition opacity 250ms 

        &:hover
            img
                opacity 0.5
    
 
